@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@300&family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mozilla Text", sans-serif;
}
body{
    background-color:black;
    color: white;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60vw;
    padding: 20px;
}
h1{
    margin-bottom: 2rem;
    text-align: center;
}
.form-inputs{
    margin: 1.2rem;
}
button{		
    margin: 1rem;
    padding: 10px 20px;
    background: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
}
.form-inputs input{
    background: black;
    color: white;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1.2rem;
    padding-bottom:10px ;
}
input::placeholder{
    background-color: black;
    color: white;
    font-weight: lighter;
}
.radio-inputs,
.checkbox-input{
    margin: 1rem;
}
label{
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: lighter;
}
.radio-inputs input,
.checkbox-input input{
    margin-right: 5px;
}

